@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700&display=swap');

body {
  font-family: Arimo, sans-serif;
}

html {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

p {
  font-size: inherit;
  line-height: 20px;
  margin-bottom: 8px;
}

div[class^=highlight] {
    border: 1px solid #f4f8f9;
}

.rst-content a {
  color: #3071a1;
}

.rst-content a:visited {
  color: #3071a1;
}

.rst-content a:hover {
  color: #3071a1;
  text-decoration: underline;
}

cite {
  font-size: 90%;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
}

.wy-side-scroll, .wy-side-nav-search, .wy-menu-vertical, .wy-nav-side {
  width: 240px;
}

.wy-nav-content-wrap {
  margin-left: 240px;
}

@media screen and (max-width: 768px) {
.wy-nav-content-wrap {
  margin-left: 0;
}
}

.wy-menu-vertical li.current a {
  border: none;
}

.section {
  margin-top: 24px;
}

.rst-content div[class^="highlight"] {
  border: none;
  border-left: 4px solid #c0c0c0;
  margin-bottom: 12px;
}

/* Disable table borders and striping.  */
.rst-content table.docutils {
  border: none;
}
.rst-content table.docutils td {
  border: none;
  padding: 6px 12px;
}
.rst-content table.docutils thead th {
  border: none;
  border-bottom: 2px solid #c0c0c0;
  padding: 6px 12px;
}
.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
  background-color: inherit;
}

/* Adjust how function signatures are shown.  */
.rst-content dl:not(.docutils) dt {
  border: none;
  border-bottom: 1px solid #c0c0c0;
  padding-left: 0;
  background: none;
  color: #606060;
}

dl.function dt {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
}

.highlight .gp {
  color: #a0a0a0;
}

.highlight .go {
  color: #606030;
}

