name: Makefile CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Python 
        run: uv python install 3.13

      - name: Set up venv
        run: uv venv
        run: source .venv/bin/activate

      - name: Install dependencies
        run: uv pip install numpy python-dateutil pytz pytest

      - name: Build
        run: make -j

      - name: Run tests
        run: make -k test

